.root {
    margin: 0;
    width: 100vw;
    height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: rgba(210,213,223, .5);
    background-image: url('../../background_noise.jpg');
}
