/*.lense {*/
/*    position: absolute;*/
/*    top: -20%;*/
/*    right: -35%;*/
/*    transform: rotate(-45deg);*/
/*    width: 30vw;*/
/*    height: 60vh;*/
/*    border-radius: 50%;*/
/*    background-color: rgba(255, 255, 255, 1);*/
/*    opacity: 1;*/
/*    transition: all 1s ease-in-out;*/
/*}*/

.svglense {
    position: absolute;
    width: 0;
    height: 0;
}
.lense {
    position: absolute;
    top: 230px;
    left: 150px;
    width: 280px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: url(#my-clip-path-lense);
    clip-path: url(#my-clip-path-lense);
}

.graffiti {
    position: absolute;
    top: 230px;
    left: 150px;
    width: 280px;
    height: 150px;
}

.wrapper {
    position: relative;
}

.commun {
    position: absolute;
    top: 68%;
    left: 29%;
    width: 80px;
    z-index: 3;
}

.miliciya {
    position: absolute;
    top: 82%;
    left: 75%;
    width: 80px;
    z-index: 3;
}
