@keyframes vibrate {
    0% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(3px);
    }
}

.vibrate {
    animation: vibrate .06s alternate 7;
}